@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Josefin+Sans|Manuale');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background-color: white;
    background-position: center center;
    background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: 'Josefin Slab';
  text-align: center;
  color: black;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  position: sticky;
  padding-bottom: 0.5em;
}

header >h1 {
  font-size: 5em;
  margin-bottom:0rem;
}

header >h2 {
  font-size: 1em;
  margin-top:0.5rem;
}

footer {
  font-family: 'Josefin Sans';
  margin-top: 90%;
  height: 10%;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

/*************************LOGIN*********************/
.login-page {
  width: 100%;
  padding: 8% 0 0;
  margin: auto;
}
/*login box*/
.form {
  border-radius: 15px;
  position: static;
  margin-left: 30%;
  margin-right:30%;
  margin-top: 10%;
  margin-bottom:70%;
  width: 40%;
  height: 20%;
  z-index: 1;
  background: #FFFFFF;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*user and pass*/
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/*login*/
#loginform button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
/*login hover*/
#loginform button:hover,.form button:active,.form button:focus {
  background: #103b59;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
/*create an account*/
.form .message a {
  color: #103b59;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #969696;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}

/*create an account*/
.container .info span .fa {
  color: #1a4aa8;
}

/*************************TASK*********************/
#dateBar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  padding-bottom: 2em;
}

#dateBar >h3{
  font-size: 1em;
  margin-bottom:0rem;
}

#leftSideBar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  padding-left: 1em;
  border-right: 5px double grey;
}

#mainSection {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 40em;
  margin: 0;
  padding-top: 1.3em;
  padding-left: 2rem;
  padding-right: 2rem;
}

#rightSideBar {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border-left: 5px double grey;
  text-align: center;
}

.gridContainer{
  width: 100%;
  display:grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  background-color: white;
  color: #474242;
}
/******RIGHT SIDE BAR*******/
#userPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#profile{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 50%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#profile:hover{
background: #103b59;
color: white;
}

#logout{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 50%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#logout:hover{
background: #103b59;
color: white;
}

#addLis{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 50%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#addLis:hover{
background: #103b59;
color: white;
}

#remLis{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 50%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#remLis:hover{
background: #103b59;
color: white;
}

/******MAIN BAR*******/
#upList{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#upList:hover{
background: #103b59;
color: white;
}

#addItem{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#addItem:hover{
background: #103b59;
color: white;
}

/*************************PROFILE*********************/
#editProfile{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#editProfile:hover{
background: #103b59;
color: white;
}

#exit{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 10%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#exit:hover{
background: #103b59;
color: white;
}

#profilePage{
  padding-left:2em;
}

/*************************EDIT PROFILE*********************/
#profileEdit{
  padding-left:2em;
}

#editProfilePage{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#editProfilePage:hover{
background: #103b59;
color: white;
}

/*************************REGISTER*********************/
#signup{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#signup:hover{
background: #103b59;
color: white;
}

/*already registered. log in*/
.login-page .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

/*already registered. log in*/
.login-page .message a {
  color: #103b59;
  text-decoration: none;
}

/*************************ADD ITEM/LIST*********************/
#newList{
  padding-left:2em;
}

#add{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#add:hover{
background: #103b59;
color: white;
}

#addNewList{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#addNewList:hover{
background: #103b59;
color: white;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}​

input {
  display: inline-block;
  width: 140px;
  text-align: right;
  font-size: 15px;
}​

#delete{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1c4059;
  width: 25%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3 ease;
  cursor: pointer;
}

#delete:hover{
background: #103b59;
color: white;
}
